/*
Dark background - #1F2937

Main Heading 48px extra bold, #F9FAF8

Link text 18px #E5E7EB

Headr logo text 24px #F9FAF8

Button color
#3882F6

Information header 36px #1F2937

QUOTE BACKGROUND #E5E7EB

QUOTE TEXT 36px light italic #1F2937

*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
textarea,
button,
select,
a,
li {
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

html {
    position: relative;
    min-height: 100%;
    height: 100%;
}

body {
    font-family: Roboto, sans-serif;
    position: relative;
    min-height: 100%;
    height: auto;
}

/* HEADER */

.header {
    background-color: #1F2937;
    padding: 20px 70px 100px;
    color: #F9FAF8;
}


.header h1 {
    margin-right: 20px;

}

@media (max-width: 837px) {
    .header h1 {
        margin-bottom: 30px;
    }
    
    .modal {
        flex-wrap: wrap;
        gap: 20px !important;
    }
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F9FAF8;
    font-size: 24px;
    flex-wrap: wrap;
}

.top ul {
    list-style-type: none;
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
    gap: 30px;
    flex-wrap: wrap;
}

.top li {
    cursor: pointer;
}

.top li a {
    border: 1px solid transparent;
    color: white;
    border-radius: 5px;
    padding: 5px 20px;
    text-decoration: none;
    white-space: nowrap;
    transition: border 0.2s;
}

.top li a:hover {
    border: 1px solid white;
    
}

.below {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 50px;
    flex-wrap: wrap;
}


.headerimg {
    flex: 1 1 200px;
    min-width: 200px;
    max-width: 380px;
    border-radius: 20px;
}

.below button {
    background-color: #3882F6;
    border: 0;
    padding: 8px 20px;
    border-radius: 8px;
    margin-top: 15px;
    color: white;
    font-weight: bold;
    transition: box-shadow .2s;
    cursor: pointer;
}

.below button:hover {
    box-shadow: 0 0 10px 2px rgba(0, 98, 255, 0.4);
}
/* MAIN CONTENT */

.card {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card > h1 {
    text-align: center;
}

.imgrow {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    font-size: .75rem;
    gap: 50px;
    margin-top: 40px;
}

.sqimg {
    width: 150px;
}

.sqimg img {
    border-radius: 15px;
}

.sqimg p {
    margin-top: 15px;
}

.dark {
    background-color: #E5E7EB;
    text-align: left;
}

.quote {
    margin: auto;
    font-size:24px;
    color: #1F2937;
    font-weight: 100;
    font-style: italic;
}

.quotebox {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
}

.author {
    align-self: flex-end;
    margin-top: 30px;
}

.modal {
    background-color: #3882F6;
    border-radius: 10px;
    padding: 30px 40px;
    font-size: .75rem;
    width: 70%;
    max-width: 700px;
    display: flex;
    color: white;
    justify-content: center;
    gap: 50px;
}

.modal-right {
    display: flex;
    align-items: center;
}

.modal button {
    border: 1px solid white;
    background: none;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .5s, color .5s;
    white-space: nowrap;

}

.modal button:hover {
    background-color: white;
    color: #3882F6;
}

.botmargin {
    height: 50px;
}

.footer {
    background-color: #1F2937;
    text-align: center;
    color: white;
    padding: 30px 0;
    font-size: .8rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: fit-content;
    margin-top: 100px;
}

.footer a {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 5px;
    border-radius: 5px;
    margin-left: 6px;
    transition: background-color .5s, color .5s;
}

.footer a:hover {
    background-color: white;
    color: #1F2937;
}

img {
    transition: all .2s;
}

img:hover {
    opacity: 0.8;
}